@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

:root {
  --primary: #0452d7;
  --primary2: #6ea3ff;
  --primary3: #005eff;
}

body {
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0;
}

.container {
  display: flex;
}

.home {
  background-color:white;
}
